<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880521645178-9siv3aladf7gghdghhab4sm27jvt5oop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880521645178-9siv3aladf7gghdghhab4sm27jvt5oop</string>
	<key>API_KEY</key>
	<string>AIzaSyAsF6QqeQWfH9WAlp-pxsC2IFR93CD9Kvg</string>
	<key>GCM_SENDER_ID</key>
	<string>880521645178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iai.Aura</string>
	<key>PROJECT_ID</key>
	<string>simply-english-10f6f</string>
	<key>STORAGE_BUCKET</key>
	<string>simply-english-10f6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:880521645178:ios:a64c310ef449f2dd7a3fc3</string>
	<key>DATABASE_URL</key>
	<string>https://simply-english-10f6f.firebaseio.com</string>
</dict>
</plist>
